.inputClass:focus {
  border-radius: 20px;
  border: 1px solid var(--Button-Stroke, #a265f0);
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.02) 99.97%
  );
  box-shadow: 0px 4px 30px 0px rgba(100, 26, 135, 0.5);
  backdrop-filter: blur(5px);
}
.inputClass {
  border-radius: 20px;
  border: 1px solid var(--Gray-1, #333);
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.02) 99.97%
  );
  backdrop-filter: blur(5px);
}
.button {
  background: var(
    --Button-Filled--Gradient,
    linear-gradient(89deg, #3e2567 0.92%, #140769 98.29%)
  );
  box-shadow: 0px 4px 25px 0px #2f1c64;
  border: 2px solid transparent;
  border-image-slice: 1 1 0 0;
  border: 1px solid;
  border-image-source: linear-gradient(89deg, #15ff00 0.92%, #140769 98.29%);
  border-radius: 20px; /* Add the border radius */
}

