.home_gradient {
  background: radial-gradient(
    circle,
    rgba(212, 85, 85, 1) 50%,
    rgba(146, 45, 115, 1) 57%,
    rgba(209, 120, 188, 1) 100%
  );
  filter: blur(80px);
  border-radius: 50%;
  z-index: -99;
  transform: rotate(154.81deg);
  flex-shrink: 0;
  background-position: 100% 80%;
  margin: -130px -140px 0px 0px;
}
.portfolio_gradient {
  background: linear-gradient(
    268deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(128, 77, 204, 1) 18%,
    rgba(100, 52, 182, 1) 57.99999999999999%,
    rgba(205, 120, 196, 1) 100%
  );
  filter: blur(80px);
  border-radius: 50%;
  transform: rotate(154.81deg);
  flex-shrink: 0;
  background-position: 100% 80%;
  margin: -130px -140px 0px 0px;
  opacity: 50%;
}
.contact_gradient {
  background: linear-gradient(
    268deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(128, 77, 204, 1) 18%,
    rgba(100, 52, 182, 1) 57.99999999999999%,
    rgba(205, 120, 196, 1) 100%
  );
  filter: blur(80px);
  border-radius: 50%;
  transform: rotate(154.81deg);
  flex-shrink: 0;
  background-position: 100% 80%;
  margin: -130px -140px 0px 0px;
  z-index: -99;
  opacity: 50%;
}
.contact_gradient2 {
  background: linear-gradient(
    118deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(100, 24, 135, 1) 30%,
    #e04e4e 100%
  );
  filter: blur(80px);
  border-radius: 50%;
  transform: rotate(154.81deg);
  flex-shrink: 0;
  background-position: 100% 80%;
  margin: 0px -500px 0px 0px;
  top: 50% !important;
  z-index: -99;
  opacity: 30%;
}
.elevate_business {
  background: linear-gradient(
    9deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(128, 77, 204, 1) 18%,
    rgba(100, 52, 182, 1) 57.99999999999999%,
    rgba(205, 120, 196, 1) 100%
  );
  filter: blur(80px);
  border-radius: 30%;
  transform: rotate(154.81deg);
  flex-shrink: 0;
  background-position: 100% 80%;
  margin: -130px 0px 0px -30px;
  opacity: 50%;
}

@keyframes slidein {
  0% {
    /* Define initial styles for the animation */
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    /* Define final styles for the animation */
    transform: translateX(0);
    opacity: 1;
  }
}

.card_animation {
  animation-name: slidein;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.card_animation.card_visible {
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* .typed_out {
  overflow: hidden;
  animation: typing 1s forwards;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
.inputClass:focus {
  border-radius: 20px;
  border: 1px solid var(--Button-Stroke, #a265f0);
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.02) 99.97%
  );
  box-shadow: 0px 4px 30px 0px rgba(100, 26, 135, 0.5);
  backdrop-filter: blur(5px);
}
.inputClass {
  border-radius: 20px;
  border: 1px solid var(--Gray-1, #333);
  background: linear-gradient(
    143deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0.02) 99.97%
  );
  backdrop-filter: blur(5px);
}
.button {
  background: var(
    --Button-Filled--Gradient,
    linear-gradient(89deg, #3e2567 0.92%, #140769 98.29%)
  );
  box-shadow: 0px 4px 25px 0px #2f1c64;
  border: 2px solid transparent;
  border-image-slice: 1 1 0 0;
  border: 1px solid;
  border-image-source: linear-gradient(89deg, #15ff00 0.92%, #140769 98.29%);
  border-radius: 20px; /* Add the border radius */
}
